<div class="profile-select-title"><%= Locale.get('imaginate.select_profile') %></div>
<ul id="profile-select-rows">
<% profiles.each(function (profile) { %>
	<li id="profile-select-<%= profile.id %>" class="profile-select-row">
		<%= img_tag(profile.profile_pic.url) %>
		<span><%= profile.name %></span>
	</li>
<% }) %>
	<li id="profile-select-add" class="profile-select-row"><span>Add a new profile</span></li>
</ul>
