div#content.index h1.temp { text-align: center; }

div#content.show div.journal.wrapper,
div#content.index div.journal.wrapper {
  font-family: Georgia, serif;
  width: 44em;
  margin: 0 auto 2em auto;
  padding-top: 1em;
}
div#content.show div.journal.wrapper > div.body > div.timestamp,
div#content.index div.journal.wrapper > div.body > div.timestamp {
   margin: -0.5em 0 0.75em 0;
}
div#content.show div.journal.wrapper > div.journal-pic {
    margin: 0 1em 0 -1em; float:left;
}
div.journal > h1, div.journal.wrapper > h2 {
  margin: 0;
}
div.journal.wrapper p {
  margin-bottom: 1em;
}
