/* page controls */

div.page_controls {
  width: 100%;
  position: fixed;
  top: 52px;
  left: 0;
  color: rgb(255,255,255);
  background: rgb(132,132,136);
  box-shadow: 0 0 2px rgb(32,32,32);
  min-width: 1000px;
}
div.page_controls a {
  color: rgb(255,255,255);
  display: block;
  width: 100%;
  height: 22px;
  padding-top: 6px;
  margin-top: -6px;
}
div.page_controls > ul > li {
  float: left;
  min-width: 8em;
  text-align: center;
  border-right: 1px solid rgb(62,62,66);
  height: 22px; /* entire list height is defined here */
  padding: 6px 0 2px 0;
}
div.page_controls > ul > li.title {
  font-size: 1.1em;
  background: rgb(62,62,66);
  height: 22px;
  padding: 6px 0 2px 0;
}
div.page_controls > ul > li.save,
div.page_controls > ul > li.publish {
  background: rgb(96,128,24);
}
div.page_controls > ul > li.save:hover,
div.page_controls > ul > li.publish:hover {
  background: rgb(156,188,84);
}
div.page_controls > ul > li.back:hover {
  background: rgb(164,0,4);
}
div.page_controls > ul > li.tag-list > div {
  float: left;
  margin-left: 1em;
}
div.page_controls > ul > li.tag-list > input {
  font-size: 1em;
  width: 10em;
  padding: 0 4px;
  clear: none;
  margin: -1px 1em 0 0.5em;
  background: rgb(232,232,232);
}
div.page_controls > ul > li#filter-control {
  cursor: pointer;
}
div.page_controls > ul > li#filter-control > div#filter-list {
  color: rgb(0,0,0);
  background: rgb(255,255,255);
  box-shadow: 0 0 2px rgb(32,32,32);
  width: auto;
  height: auto;
  position: relative;
  top: 10px;
  padding: 0.5em;
  text-align: left;
  display: none;
}

/* new and edit pages */

fieldset.journal {
  width: 600px;
  margin: 0 auto;
  padding: 52px 0 4em 0;
}
fieldset.journal > input {
  width: 600px;
}
fieldset.journal > h1.title.edit {
  margin-bottom: 1em;
}
fieldset.journal > div.body {
  width: 606px;
  min-height: 18em;
  margin: 0 0 0 0.75em;
  font-size: 1em;
  clear: both;
  padding: 0.4em;
  color: rgb(0,0,0);
  border-radius: 4px;
}
fieldset.journal > button {
  display: none;
}
fieldset.journal > input#journal_title {
  display: none;
}
fieldset.journal > textarea#journal_body {
  display: none;
}

.edit.placeholder:after {
    color: #B3B3B1;
    font-style: italic;
    content: attr(data-placeholder);
}
