ul#profile-pic-list > li {
  float: left;
  margin: 0 0.75em 1.5em 0.75em;
  width: 128px;
  height: 128px;
  text-align: center;
}
ul#profile-pic-list > li > a.delete {
  display: block;
  float: right;
  width: 10px;
  padding: 0 6px 3px 6px;
  color: white;
  background: rgb(192,32,32);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(192,0,0)), to(rgb(128,0,0)), color-stop(0.15, rgb(216,32,32)), color-stop(0.3, rgb(216,32,32)));
  border-radius: 6px;
  position: relative;
  bottom: 18px;
  z-index: 2;
}
ul#profile-pic-list > li > div.pic {
  width: 128px;
  height: 128px;
}
ul#profile-pic-list > li > div.pic > img {
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
ul#profile-pic-list > li.default > div.pic > img {
  box-shadow: 0 0 10px rgb(255,92,0);
}
form fieldset {
  width: 32em;
  margin: 0 auto;
}
